!!!
%html
  %head
    %title Miser
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'backbone_app'
    = csrf_meta_tags
    = include_gon init: true
  %body
    %header#header-region.navbar
    #main.container-fluid
      .row
        #sidebar-region.col-xs-2.col-sm-2
        #main-content.col-xs-12.col-sm-10
          .row
            #breadcrumb.col-xs-12
              %ol.breadcrumb
                %li= link_to 'Home', '#'
          #main-region
